<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Canario: forca o handler PHP 8.3 APENAS nesta pasta, para testar
             se 8.3 + OPcache estao disponiveis no host, sem tocar no site. -->
        <handlers>
            <remove name="PHP8.3-FastCGI" />
            <add name="PHP8.3-FastCGI-diag" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP_8.3\php-cgi.exe" resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>
