/* Site */
#site {
	font-family: "open_sansregular", Arial, serif;
	font-size: 18px;
	font-weight:normal;
	line-height: 1.0em;
	overflow-y: scroll;
	overflow-x:hidden;
	position: relative;
	padding:0;
	margin:0;
}
input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* Header */
#header {
	top: 0;
	width: 100%;
	z-index: 1;
}

/* img */
img {
	width: 100%;
	height:auto;
}



/* perfil/cliente/pf_topo */
#pf_rv_topo {
	padding:5px 0 10px 0;
	margin:0;
	position: relative;
	background:#f5f6f4;
	z-index:999;
}
#pf_rv_topo .tp_logomarca_box a {
	display:block;
	margin:0;
}
#pf_rv_topo .tp_logomarca_box img {
	width:auto;
	height:25px;
	float:left;
	padding:5px 0 0 0;
	margin:0;
}
#pf_rv_topo .tp_logomarca_box span {
	font-family: "open_sansbold", open_sans, serif;
	color:#7b838f;
	font-size:24px;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	line-height:1.0em;
	display:block;
	margin:0;
	padding:5px 0 0 0;
}
#pf_rv_topo .tp_entrar_box a {
	font-family: "open_sansregular", open_sans, serif;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform: uppercase;
	line-height:1.0em;
	float:left;
	margin:8px 0 0 20px;
}

#pf_rv_topo .tp_perfil_box {
	padding:5px 0 0 0;
	margin:0;
	position:relative;
	text-align:right;
}
#pf_rv_topo .tp_perfil_nome {
	font-family: "open_sansbold", open_sans, serif;
	color:#c2c6cd;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 0 0 38px;
	display:block;
}
#pf_rv_topo .tp_perfil_cidade {
	font-family: "open_sansregular", open_sans, serif;
	color:#616569;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0;
}
#pf_rv_topo .tp_perfil_img {
	color:#c2c6cd;
	font-size:26px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin:0;
	padding:5px 0 0 0;
}
	

/* pf_topo_sub */
#pf_rv_topo_sub {
	padding:0;
    background:#fff;
	border-top:solid 1px #e8e8e6;
	border-bottom:solid 1px #e8e8e6;
	z-index:1;
}

#pf_rv_topo_sub .ts_titulo ul {
	list-style:none;
	margin:0;
}
#pf_rv_topo_sub .ts_titulo li {
	float:left;
	margin-right:20px;
	padding:20px 0 20px 0;
}
#pf_rv_topo_sub .active a {
	display:inline;
	padding-bottom:18px;
	border-bottom:solid 1px #009ee3;
	margin:0;
	padding:0;
}
#pf_rv_topo_sub .ts_titulo a {
	font-family: "open_sanssemibold", open_sans, serif;
	color:#6a6666;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:inline;
	margin:0 20px 0 0;
	padding:0 0 16px 0;
}



#pf_rv_topo_sub .ct_avatar_box {
	padding:10px 0;
}
#pf_rv_topo_sub .ct_avatar_icon {
	color:#495057;
	font-size:30px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	float:left;
	display:block;
	margin:3px 0 0 0;
	padding:0;
}
#pf_rv_topo_sub .ct_avatar_nome {
	font-family: "open_sansbold", open_sans, serif;
	color:#333333;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:4px 0 0 38px;
	padding:0;
	display:block;
}
#pf_rv_topo_sub .ct_avatar_intro {
	font-family: "open_sansregular", open_sans, serif;
	color:#8f8f8f;
	font-size:13px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 0 0 38px;
	display:block;
}

/* entrar */
#entrar {
	text-align:left;
	position:relative;
	width:100%;
	height:100%;
}
#entrar:after, #entrar:before {
	content:' ';
	position: absolute;
	width:50%;
	height:100%;
	z-index: -1;
	top:0;
}

#entrar:after {left: 0px; background: #f4f7fa;  }
#entrar:before {right: 0px; background: #fff;}

#entrar .en_title {
	font-family: "open_sansregular", Arial, serif;
	color:#fff;
	font-size:32px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:0;
}
#entrar .en_intro {
	font-family: "open_sanssemibold", Arial, serif;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin:30px 0 0 0;
}
#entrar .en_sobre {
	font-family: "open_sansregular", Arial, serif;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.6em;
	display:block;
	margin:20px 0 0 0;
}
#entrar .en_agende {
	text-align:center;
	font-family: "open_sanssemibold", Arial, serif;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.2em;
	display:block;
	padding:0;
	margin:80px 0 0 0;
}
#entrar .en_telefone {
	text-align:center;
	font-family: "open_sansbold", Arial, serif;
	color:#fff;
	font-size:28px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:0;
}
#entrar .en_logomarca {
	width:auto;
	display:block;
	padding:0;
	margin:0 auto;
}
#entrar .en_form_intro {
	text-align:center;
	font-family: "open_sansregular", Arial, serif;
	color:#8e8e8e;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:30px 0 40px 0;
}
#entrar .en_form_developer {
	text-align:center;
	font-family: "open_sansregular", Arial, serif;
	color:#aeaeae;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:60px 0 0 0;
}
#entrar .en_form_developer span {
	color:#0184de;
}
#entrar .en_form_error {
	text-align:center;
	font-family: "open_sansregular", Arial, serif;
	color:#bf4646;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin:20px 0 0 0;
}
#entrar .en_form_criar {
	text-align:center;
	font-family: "open_sansregular", Arial, serif;
	color:#337ab7;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.5em;
	display:block;
	margin-top:15px;
}



#entrar .en_info {
	display:block;
	padding:200px 100px 0 0; 
	margin:0;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#entrar .en_info img {
	display:block;
	padding:0;
	margin:0 auto;
}
#entrar .en_form {
	background:#fff;
	padding:100px 100px 0 100px; 
	margin:0;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#entrar .en_form input {
	font-family: "open_sansregular", Arial, serif;
	color:#373737;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin-top:15px;
}
#entrar .en_form button {
	font-family: "open_sansregular", Arial, serif;
	color:#fff;
	font-size:16px;
	font-weight:nornal;
	text-decoration:none;
	text-transform:none;
	display:block;
	margin:30px 0;
	padding:10px 0;
	background:#3483fa;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#entrar .en_form input {
	color: #0e6252;
	font-weight:nornal;
	margin: 10px 0;
	width: 100%;
	display: block;
	border: none;
	padding: 10px 0;
	border-bottom: solid 1px #3483fa;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background-position: -1000px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#entrar .en_form input:focus, input:valid {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}


/* pf_centro */
#pf_rv_centro {
	padding:12px 0 15px 0;
	position: relative;
	z-index:2;
    background:#f5f6f4;
}



/* pf_centro / menu */

#pf_rv_centro .ct_menu_box ul {
	list-style:none;
	margin:0;
}
#pf_rv_centro .ct_menu_box li {
	display:block;
	padding:12px 0;
	border-bottom:solid 1px #e6e6e6;
	cursor:pointer;
}
#pf_rv_centro .ct_submenu_item i {
	color:#868686;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 10px 0 0;
}
#pf_rv_centro .ct_submenu_item {
	font-family: "open_sansregular", open_sans, serif;
	color:#666666;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.02em;
	margin:0;
	padding:0 0 0 25px;
}
#pf_rv_centro .ct_menu_item i {
	color:#8bafe5;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 10px 0 10px;
}
#pf_rv_centro .active i {
	color:#009ee3;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 10px 0 10px;
}
#pf_rv_centro .ct_menu_item {
	font-family: "open_sansregular", open_sans, serif;
	color:#707070;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	margin:0;
}
#pf_rv_centro .active {
	font-family: "open_sansregular", open_sans, serif;
	color:#333333;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	background:#d7e6ef;
	border-left:solid 3px #009ee3;
	margin:0;
	padding:0;
}
#pf_rv_centro .active a {
	font-family: "open_sansregular", open_sans, serif;
	color:#009ee3;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0;
	padding:0;
}


/* pf_centro / listas */

#pf_rv_centro .lt_box {
	background:#FFF;
	border:solid 1px #e8e8e6;
	display:block;
	margin:0 0 15px 0;
	padding:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#pf_rv_centro .lt_centro_box {
	padding:15px 15px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}

#pf_rv_centro .lt_titulo_box {
	padding:15px 15px;
	border-bottom:solid 1px #e8e8e6;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#pf_rv_centro .lt_titulo_box a {
	font-family: "open_sansbold", open_sans, serif;
	color:#404751;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
}



/* pf_centro / na */
#pf_rv_centro .of_box {
	text-align:center;
	padding:40px 15px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#pf_rv_centro .of_box i {
	color:#8d9299;
	font-size:58px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 auto;
	display:block;
}
#pf_rv_centro .of_box a {
	text-decoration:none;
	text-transform:none;
}
#pf_rv_centro .of_na_titulo {
	font-family: "open_sansbold", open_sans, serif;
	color:#313235;
	font-size:22px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin-top:10px;
}
#pf_rv_centro .of_na_intro {
	font-family: "open_sansregular", open_sans, serif;
	color:#8d9299;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin-top:5px;
}
#pf_rv_centro .of_na_criar {
	font-family: "open_sansregular", open_sans, serif;
	color:#fff;
	font-size:20px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:inline-block;
	padding:15px 35px;
	margin-top:40px;
	background:#09F;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

/* form/alterar */
#pf_rv_centro .of_form_div {
	width:100%;
	display:block;
	border-bottom: solid 1px #e8e8e6;
}
#pf_rv_centro .fm_input_edit {
	font-family: "open_sansbold", open_sans, serif;
	color: #252525;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	width:100%;
	display:block;
	padding:14px 0 13px 0;
	margin:0;
	cursor:pointer;
}
#pf_rv_centro .fm_edit_alterar {
text-align:right
}
#pf_rv_centro .fm_edit_alterar a {
	font-family: "open_sansregular", open_sans, serif;
	color: #666666;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	cursor:pointer;
	display:inline-block;
	margin:12px 0 0 0;
}
#pf_rv_centro .fm_acoes_box {
	display:block;
	margin:0;
	padding:0;
	text-align:right
}
#pf_rv_centro .fm_input_cancel {
	font-family: "open_sansregular", open_sans, serif;
	color: #6f7780;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 0 0 0;
	width:48%;
	display:inline;
	cursor:pointer;
	padding:6px 10px;
	background:#fff;
	border:solid 1px #bfc5cd;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#pf_rv_centro .fm_input_salvar {
	font-family: "open_sansregular", open_sans, serif;
	color: #fff;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0;
	width:48%;
	display:inline;
	padding:8px 0;
	background:#3483fa;
	border:solid 1px #3483fa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}




#pf_rv_centro .of_form_box  {
	display:block;
	padding:0 15px 15px 15px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}

#pf_rv_centro .of_form_box span {
	font-family: "open_sanslight", Arial, serif;
	color:#828282;
	font-size:15px;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:15px 0 0 0;
}
#pf_rv_centro .of_form_box input[type="text"] {
	font-family: "open_sansbold", Arial, serif;
	color: #252525;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	width:100%;
	border:none;
	display:block;
	margin:0;
	padding:10px 0;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background-position: -1000px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-bottom: solid 1px #e8e8e6;
}

#pf_rv_centro .of_form_box input[type="text"]:focus, input:valid{
	box-shadow: none;
	outline: none;
	background-position: 0 0;
	border:none;
}

#pf_rv_centro .of_form_box  input[type="text"]::-webkit-input-placeholder {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#pf_rv_centro .of_form_box textarea {
	font-family: "open_sansbold", Arial, serif;
	color: #252525;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin:0 0 10px 0;
	width:100%;
	display:block;
	border:none;
	padding:10px 0;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background-position: -1000px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-bottom: solid 1px #e8e8e6;
}

#pf_rv_centro .of_form_box textarea:focus, textarea:valid {
	box-shadow: none;
	outline: none;
	border:none;
	background-position: 0 0;
}

#pf_rv_centro .of_form_box textarea::-webkit-input-placeholder {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#pf_rv_centro .of_form_box select {
	font-family: "open_sansbold", Arial, serif;
	color: #252525;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	width: 100%;
	display:block;
	padding:10px 0;
	margin:0;
	border:none;
	border-bottom: solid 1px #e8e8e6;
	overflow:hidden;
}
#pf_rv_centro .of_form_box input[type="file"] {
	font-family: "open_sansbold", Arial, serif;
	color: #252525;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	width:100%;
	border:none;
	display:block;
	margin:0;
	padding:10px 0;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #3483fa 4%);
	background-position: -1000px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-bottom: solid 1px #e8e8e6;
}

#pf_rv_centro .of_form_box input[type="file"]:focus, input:valid{
	box-shadow: none;
	outline: none;
	background-position: 0 0;
	border:none;
}

#pf_rv_centro .of_form_box  input[type="file"]::-webkit-input-placeholder {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#pf_rv_centro .of_form_checkbox {
	font-family: "open_sansregular", Arial, serif;
	color: #545e67;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.4em;
	width:15px;
}



#visualizar img {
	width:33.33%;
	height:auto;
}




#pf_rv_centro .cmp_form .cmp_label {
	display:block;
	font-family: "open_sanssemibold", Arial, serif;
	color:#555;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	padding:5px 0 15px 0;
	margin:8px 0 0 0;
	background:#f5f6f4;
	border:none;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
#pf_rv_centro .cmp_form input[type=checkbox] {
	width: 14px;
	height: 14px;
	position: relative;
	cursor: pointer;
	display:inline-block;
	margin:10px 10px 0 10px;
}
#pf_rv_centro .cmp_form input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	left: 0;
	border: 2px solid #555555;
	border-radius: 3px;
	background-color: white;
}
#pf_rv_centro .cmp_form input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 4px;
	height: 7px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	left: 6px;
}
#pf_rv_centro .cmp_form input[type="checkbox"]:disabled:before  {
	border: 2px solid #ccc;
}


#pf_rv_centro .cmp_form input[type=radio] {
	width: 14px;
	height: 14px;
	position: relative;
	cursor: pointer;
	display:inline-block;
	margin:-5px 10px 0 10px;
}
#pf_rv_centro .cmp_form input[type=radio]:before {
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	left: 0;
	border: 2px solid #555555;
	border-radius: 3px;
	background-color: white;
}
#pf_rv_centro .cmp_form input[type=radio]:checked:after {
	content: "";
	display: block;
	width: 4px;
	height: 7px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	left: 6px;
}
#pf_rv_centro .cmp_form input[type="radio"]:disabled:before  {
	border: 2px solid #ccc;
}



#pf_rv_centro .cmp_form_adc .cmp_label {
	font-family: "open_sanssemibold", Arial, serif;
	color:#333;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	padding:0 0 10px 0;
	margin:5px 1% 5px 0;
	background:#f5f6f4;
	display:block;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#pf_rv_centro .cmp_form_adc input[type=checkbox] {
	width: 14px;
	height: 14px;
	position: relative;
	cursor: pointer;
	display:inline-block;
	margin:10px 10px 0 0;
}
#pf_rv_centro .cmp_form_adc input[type=checkbox]:before {
	content: "";
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	left: 0;
	border: 2px solid #555555;
	border-radius: 3px;
	background-color: white;
}
#pf_rv_centro .cmp_form_adc input[type=checkbox]:checked:after {
	content: "";
	display: block;
	width: 4px;
	height: 7px;
	border: solid black;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	left: 6px;
}
#pf_rv_centro .cmp_form_adc input[type="checkbox"]:disabled:before  {
	border: 2px solid #ccc;
}




/* inicio form upload imagens */

#upload-area-ul {
	padding: 20px;
	margin:0;
	display:block;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#upload-area {
	background:#fafcfa;
	border: 2px dashed #ccc;
	padding: 20px;
	margin:0;
	display:block;
	text-align: center;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#upload-area.hover {
	border-color: #333;
}
#upload-link {
	padding:0;
	margin:0;
	display:block;
	cursor:pointer;
	font-family: "open_sansbold", Arial, serif;
	color:#6aaafd;
	font-size:22px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
}
.preview img {
	width: 100px;
	margin: 5px;
}
.error {
	color: red;
}
#submit-btn {
	font-family: "open_sansbold", Arial, serif;
	color:#fff;
	font-size:18px;
	font-weight:nornal;
	text-decoration:none;
	text-transform:none;
	display:none;
	margin:10px 0 0 0;
	padding:15px 0;
	background:#3483fa;
	border:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	cursor:pointer;
}
#file-count {
	padding:4px 0 0 0;
	margin:0;
	display:block;
	cursor:pointer;
	font-family: "open_sansregular", Arial, serif;
	color:#777;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
}
/* fim form upload imagens */




/* atividades */
#pf_rv_centro .at_box {
	padding:20px 20px;
}
#pf_rv_centro .at_titulo {
	font-family: "open_sanslight", open_sans, serif;
	color:#999999;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	margin:0;
}
#pf_rv_centro .at_saldo {
	font-family: "open_sanssemibold", open_sans, serif;
	color:#999999;
	font-size:36px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	margin:0;
}
#pf_rv_centro .at_detalhes {
	font-family: "open_sanslight", open_sans, serif;
	color:#009ee3;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	text-align:right;
	margin:15% 0 0 0;
}

#pf_rv_centro .at_lt_filtros {
	font-family: "open_sansbold", open_sans, serif;
	color:#333;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:8px 10px;
	margin:0 0 10px 0;
	background:#fff;
	border:solid 1px #e8e8e6;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#pf_rv_centro .at_lt_box ul {
	list-style:none;
	padding:0;
	margin:0;
}
#pf_rv_centro .at_lt_box li {
	padding:8px 14px;
	border-bottom:solid 1px #e8e8e6;
	float: left;
	width:100%;
	display:block;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#pf_rv_centro .at_lt_box li:hover {
	background:#f9f9f9;
	cursor:pointer;
}
#pf_rv_centro .at_lt_img img {
	float:left;
	width:40px;
	height:40px;
	padding:0;
	margin:0 10px 0 0;
	border:none;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
#pf_rv_centro .at_lt_titulo {
	font-family: "open_sansregular", open_sans, serif;
	color:#4d4d4d;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	margin:4px 0 0 0;
	display:block;
}
#pf_rv_centro .at_lt_intro {
	font-family: "open_sanslight", open_sans, serif;
	color:#999999;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	margin:2px 0 0 0;
	display:block;
}
#pf_rv_centro .at_lt_detalhes {
	font-family: "open_sansregular", open_sans, serif;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	text-align:right;
	margin:8px 0 0 0;
	background:#009ee3;
	display:inline-block;
	padding:6px 20px;
	border:none;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
}
#pf_rv_centro .at_lt_acoes {
	font-family: "open_sansregular", open_sans, serif;
	color:#707070;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	text-align:center;
	background:#EBEBEB;
	width:32px;
	display:inline-block;
	margin:5px 5px 0 0;
	padding:6px 0;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#pf_rv_centro .at_lt_listar {
	padding:20px 20px;
}
#pf_rv_centro .at_lt_listar a {
	font-family: "open_sanslight", open_sans, serif;
	color:#009ee3;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.03em;
	margin:0;
}

/* inicial */

.upload-area-deletar-arq {
	position:relative;
	z-index:99;
	font-family: "open_sanssemibold", open_sans, serif;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.01em;
	padding:10px 20px 10px 15px;
	margin:0;
	display:inline-block;
	border:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#f6bcb4;
}
.upload-area-deletar-arq-ver {
	position:relative;
	z-index:99;
	font-family: "open_sanssemibold", open_sans, serif;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.01em;
	padding:10px 20px 10px 15px;
	margin:0;
	display:inline-block;
	border:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#b9e0a4;
}
.upload-area-deletar {
	position:absolute;
	z-index:99;
	font-family: "open_sanssemibold", open_sans, serif;
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.01em;
	padding:10px 20px 10px 15px;
	margin:20px;
	display:inline-block;
	border:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#f6bcb4;
}
.upload-area-ul img {
	position:relative;
	z-index:9;
}

/* inicial */

/* duvidas */
#pf_rv_centro .dv_box ul {
	list-style:none;
	margin:0;
}
#pf_rv_centro .dv_box li {
	padding:10px 15px;
	border-bottom:solid 1px #e8e8e6;
}
#pf_rv_centro .dv_lista_categoria {
	font-family: "open_sansbold", open_sans, serif;
	color:#252525;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin:15px 0 0 15px;
}
#pf_rv_centro .dv_item_pergunta {
	font-family: "open_sansregular", open_sans, serif;
	color:#3483fa;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
}
#pf_rv_centro .dv_item_resposta {
	font-family: "open_sansregular", open_sans, serif;
	color:#252525;
	font-size:20px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.2em;
	display:block;
	margin-top:15px;
}




#pf_rv_centro button.accordion {
	font-family: "open_sansregular", open_sans, serif;
	color:#3483fa;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
    background:#fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
  
#pf_rv_centro button.accordion.active,
#pf_rv_centro button.accordion:hover {
    background:#fff;
}
  
#pf_rv_centro button.accordion:after {
    content: '\002B';
    color:#777;
	font-size:15px;
	font-weight:bold;
    float: right;
    margin-left: 5px;
}
  
#pf_rv_centro button.accordion.active:after {
    content: "\2212";
}
  
#pf_rv_centro div.panel {
	font-family: "open_sansregular", open_sans, serif;
	color:#252525;
	font-size:20px;
	font-weight:normal;

	text-decoration:none;
	text-transform:none;
	line-height:1.2em;
	display:block;
	border-bottom:solid 1px #e8e8e6;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*duvidas/formulario*/
#pf_rv_centro .dv_form_box {
	padding:20px 15px 15px 15px;
}
#pf_rv_centro .dv_form_titulo {
	font-family: "open_sansbold", open_sans, serif;
	color:#404751;
	font-size:22px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:0;
}
#pf_rv_centro .dv_form_intro {
	font-family: "open_sansregular", open_sans, serif;
	color:#636363;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:5px 0 0 0;
}
#pf_rv_centro .dv_input_opcao label {
	font-family: "open_sansregular", open_sans, serif;
	color:#88919d;
	font-size:22px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	padding:0;
	margin:0;
}
#pf_rv_centro .dv_input_opcao input {
	display:none;
}
#pf_rv_centro .pg_rod_box {
	display:block;
	padding:40px 0 0 0;
	margin:0;
}
#pf_rv_centro .dv_form_enviar {
	font-family: "open_sansregular", open_sans, serif;
	color:#fff;
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	background:#3483fa;
	display:inline-block;
	padding:12px 10px;
	border:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

/* suporte */
#pf_rv_centro .sp_box {
	text-align:center;
}
#pf_rv_centro .sp_centro_box {
	padding:15px 15px;
	border-bottom:solid 1px #e9e9e8;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#pf_rv_centro .sp_titulo {
	font-family: "open_sansregular", open_sans, serif;
	color:#555555;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin:0px 0 10px 0;
}
#pf_rv_centro .sp_titulo strong {
	font-family: "open_sansbold", open_sans, serif;
	color:#202020;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	margin-left:5px;
}
#pf_rv_centro .sp_intro {
	font-family: "open_sansbold", open_sans, serif;
	color:#202020;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.5em;
	display:block;
	margin:-5px 0 15px 0;
}
#pf_rv_centro .sp_resp_box ul {
	list-style:none;
	margin:0;
	padding:0;
}
#pf_rv_centro .sp_resp_box li {
	margin:0;
	padding:15px 15px;
	display:block;
	border-bottom:solid 1px #e9e9e8;
}

#pf_rv_centro .sp_resp_titulo {
	font-family: "open_sansregular", open_sans, serif;
	color:#3483fa;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
}
#pf_rv_centro .sp_resp_intro {
	font-family: "open_sansbold", open_sans, serif;
	color:#202020;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.2em;
	display:block;
	margin-top:10px;
}









/* rodape */
#rodape {
	position:relative;
	z-index:99999;
	padding:15px 0 0 0;
	margin:0;
	background:#fff;
	border-top:solid 1px #eeeeee;
}
#rodape .rd_mn_list ul {
	list-style:none;
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#rodape .rd_mn_list ul li {
	float:left;
	margin-right:20px;
}
#rodape .rd_titulo {
	font-family: "robotoregular", Arial, serif;
	color:#17a1e4;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:inline;
}
#rodape .rd_copyright {
	padding:15px 0 30px 0;
	border-top:solid 1px #eeeeee;
}
#rodape .rd_copyright a {
	font-family: "robotoregular", Arial, serif;
	color:#999999;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
}
#rodape .rd_sc_list ul {
	list-style:none;
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
}
#rodape .rd_sc_list ul li {
	float:left;
	margin-right:5px;
	padding:0;
}
#rodape .rd_sc_facebook {
	width:34px;
	height:34px;
	float:left;
	background: url('<?php echo $urlsite ?>/adm/images/sprite.png') no-repeat center -572px;
}
#rodape .rd_sc_instagram {
	width:34px;
	height:34px;
	float:left;
	background: url('<?php echo $urlsite ?>/adm/images/sprite.png') no-repeat center -723px;
}
#rodape .rd_sc_google {
	width:34px;
	height:34px;
	float:left;
	background: url('<?php echo $urlsite ?>/adm/images/sprite.png') no-repeat center -673px;
}
#rodape .rd_sc_twiter {
	width:34px;
	height:34px;
	float:left;
	background: url('<?php echo $urlsite ?>/adm/images/sprite.png') no-repeat center -623px;
}


	
		
/* rodape */
.rv_ads_box {
	position:fixed;
	bottom:20px;
	right:10px;
	width:320px;
	padding:15px;
	z-index:99999;
	background:#fff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow: 0 3px 8px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 8px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 8px 3px rgba(0,0,0,0.1);
}
.rv_ads_box i {
	position:absolute;
	right:10px;
	top:10px;
	color:#333;
	cursor:pointer;
}
.rv_ads_img {
	float:left;
	margin-right:10px;
	height:80px;
}
.rv_ads_img img {
	border-radius:40px;
	-moz-border-radius:40px;
	-webkit-border-radius:40px;
}
.rv_ads_titulo {
	font-family: "open_sansbold", Arial, serif;
	color:#333333;
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.02em;
	display:block;
}
.rv_ads_intro {
	font-family: "open_sansregular", Arial, serif;
	color:#6d6d6d;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.02em;
	display:block;
}
.rv_ads_enviar {
	font-family: "open_sansbold", Arial, serif;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	letter-spacing:-0.01em;
	display:block;
	text-align:center;
	padding:10px 0;
	margin-top:15px;
	background:#4080ff;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}







.ad_item_alert_erro {
	font-family: "open_sansregular", Arial, serif;
	font-size:18px;
	font-weight:100;
	color: #f8f8f8;
	text-decoration: none;
	text-transform:none;
	padding:8px 12px;
	background:#303439;
    display:block;
	position:absolute;
    margin-top:-98px;
	margin-left:0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	z-index:999;
}
.ad_item_alert_erro:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #303439;
	margin-top: 26px;
	margin-left: 0;
}
.ad_iten_icon_alerta {
	margin-right:5px;
}
.en_input_alerta {
	text-align:left;
	font-family: "open_sansregular", Arial, serif;
	color:#e87777;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;
	line-height:1.0em;
	display:block;
	margin:10px 0 0 0;
}




			
/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */

#fd_acoes_box .dropit ul {
	margin:0;
	padding:0;
	list-style:none;
	z-index:9999;
}
#fd_acoes_box .dropit li {
    background:transparent;
	display:block;
	border:none;
	margin:0;
	padding:0;
}
#fd_acoes_box .dropit {
    list-style: none;
	padding: 0;
	margin:0;
    float:right;
    display:inline-block;
}

#fd_acoes_box .dropit .dropit-trigger { position: relative; }
#fd_acoes_box .dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 9999;
    display: none;
    min-width:158px;
    list-style: none;
	padding:15px;
	margin:8px 0;
}
#fd_acoes_box .dropit .dropit-open .dropit-submenu { 
    display: block; 
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	border:solid 1px #dddfe2;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#fd_acoes_box  .dropit .dropit-open .dropit-submenu:after {
	content: " ";
	position: absolute;
	border-style: solid;
	border-width: 0 8px 8px;
	border-color: #fff transparent;
	display: block;
	width: 0;
	z-index:9999;
	top:-8px;
	right:6px;
}
#fd_acoes_box  .dropit .dropit-open .dropit-submenu li {
	display:block;
	margin-bottom:15px;
	line-height:15px;
	z-index:999;
}
#fd_acoes_box  .dropit .dropit-open .dropit-submenu li:last-child {
	margin-bottom: 0px;
}
#fd_acoes_box  .dropit .dropit-open .dropit-submenu li a {
	color:#474747;
	font-size: 14px;
	text-align:left;
	text-decoration: none;
}
#fd_acoes_box .fd_acoes_icon {
	color:#797979;
	font-size:24px;
}
#fd_acoes_box .fd_sub_icon {
	color:#666666;
	font-size:14px;
	margin-right:2px;
	width:20px;
}
#fd_acoes_box .fd_sub_button {
	color:#474747;
	font-size:14px;
	border:none; width:60%; text-align:left; background:#fff; padding:0;
}





.btn-pdf {
  text-align: center;
  float: right;
  margin: 0 5px;
}

.btn-pdf .fa-thumbs-down {
  background-color: #f3f3f3;
  color: #787878;
  padding: 20px;
  border-radius: 50px;
  display:none;
}

.btn-pdf .fa-thumbs-down:hover {
  background-color: #fbfbfb;
  transition: 0.2s;
}

.btn-pdf .fa-thumbs-up {
  background-color: #59bd59;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 50px;
}

.btn-pdf .fa-thumbs-up:hover {
  background-color: #68cb68;
  transition: 0.2s;
}

.btn-pdf a {
  text-align: center;
  font-family: 'KG Blank Space Solid';
  color: #303030;
  font-size: 13px;
}

.btn-pdf a:hover {
  text-decoration: none;
}

.btn-pdf.cinza .fa-thumbs-up{
  display:none;
}
.btn-pdf.cinza .fa-thumbs-down{
  display:block;
}





/* TOOLTIP JUNTAS */
a.tooltip {outline:none; }
a.tooltip strong {font-size:12px;display:block; line-height:0.5em; margin:0;
}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
	font-size:12px;
    z-index:10;
	display:none;
	padding:8px 10px;
    margin-top:-25px;
	margin-left:-40px;
	line-height:1.0em;
}
a.tooltip span:before {
	content: '';
	display: block;
	position: absolute;
	top:0;
	width: 0;
	height: 0;
	color: transparent;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #303439;
	margin-top:28px;
	margin-left:-4px;
}
a.tooltip:hover span {
    display:inline;
	position:absolute;
	color:#fff;
	background:#2a2a2a;
}

.callout {z-index:20;position:absolute;top:20px;border:0;left:-12px;}
    
a.tooltip span
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}






.datepicker-container {
  font-size: 12px;
  line-height: 30px;

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 210px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  background-color: #fff;

  direction: ltr !important;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.datepicker-container:before,
.datepicker-container:after {
  position: absolute;

  display: block;

  width: 0;
  height: 0;

  content: ' ';

  border: 5px solid transparent;
}

.datepicker-dropdown {
  position: absolute;
  z-index: 1;

  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;

  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
          box-shadow: 0 3px 6px #ccc;
}

.datepicker-inline {
  position: static;
}

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f;
}

.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after {
  top: -5px;
  left: 10px;

  border-top: 0;
}

.datepicker-top-left:before,
.datepicker-top-right:before {
  border-bottom-color: #39f;
}

.datepicker-top-left:after,
.datepicker-top-right:after {
  top: -4px;

  border-bottom-color: #fff;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}

.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  bottom: -5px;
  left: 10px;

  border-bottom: 0;
}

.datepicker-bottom-left:before,
.datepicker-bottom-right:before {
  border-top-color: #39f;
}

.datepicker-bottom-left:after,
.datepicker-bottom-right:after {
  bottom: -4px;

  border-top-color: #fff;
}

.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  right: 10px;
  left: auto;
}

.datepicker-panel > ul:before,
.datepicker-panel > ul:after {
  display: table;

  content: ' ';
}

.datepicker-panel > ul:after {
  clear: both;
}

.datepicker-panel > ul {
  width: 102%;
  margin: 0;
  padding: 0;
}

.datepicker-panel > ul > li {
  float: left;

  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  list-style: none;

  cursor: pointer;
  text-align: center;

  background-color: #fff;
}

.datepicker-panel > ul > li:hover {
  background-color: #e6f2ff;
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}

.datepicker-panel > ul > li.highlighted {
  background-color: #e6f2ff;
}

.datepicker-panel > ul > li.highlighted:hover {
  background-color: #cce6ff;
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  cursor: default;

  color: #ccc;
  background-color: #fff;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: #e6f2ff;
}

.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next'] {
  font-size: 18px;
}

.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current'] {
  width: 150px;
}

.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li {
  line-height: 52.5px;

  width: 52.5px;
  height: 52.5px;
}

.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover {
  cursor: default;

  background-color: #fff;
}

.datepicker-hide {
  display: none;
}




/* MOSTRAR TEXTO */
.morecontent span {
    display: none;
}
.morelink {
    display: inline;
	color:#09F;
}



@font-face {
  font-family: 'FontAwesome';
  src: url('<?php echo $urlsite ?>/adm/css/icons-4-7-0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('<?php echo $urlsite ?>/adm/css/icons-4-7-0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('<?php echo $urlsite ?>/adm/css/icons-4-7-0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('<?php echo $urlsite ?>/adm/css/icons-4-7-0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('<?php echo $urlsite ?>/adm/css/icons-4-7-0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('<?php echo $urlsite ?>/adm/css/icons-4-7-0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {

  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-search:before {
  content: "\f002";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-home:before {
  content: "\f015";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-user:before {
  content: "\f007";
}
.fa-user-circle:before {
  content: "\f2bd";
}
.fa-user-circle-o:before {
  content: "\f2be";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}












