hr,ul:after{clear:both}body{font:13px/1.5 cairoregular,Arial,"Liberation Sans",FreeSans,sans-serif;text-decoration:none}code,pre{font-family:"DejaVu Sans Mono",Menlo,Consolas,monospace}hr{border:0 solid #ccc;border-top-width:1px;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol,ul{list-style:none}li{margin:0}ul:after,ul:before{content:"";display:table;line-height:0}address,dl,fieldset,figure,hr,ol,p,pre,table,ul{margin-bottom:20px}

@font-face {
    font-family: 'arialregular';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/arial-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialbold';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/arialbd-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/arialbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('<?php echo $urlsite ?>/adm/css/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('<?php echo $urlsite ?>/adm/css/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}